/*Custom CSS file*/

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css);

body {
	padding-top: 50px;
}
.jumbotron {
	margin: auto;
}
.img-responsive {
	margin-left: auto;
	margin-right: auto;
}

#welcome {
	margin-bottom: 25px;
}

#welcome > h1, #zia > div.col-lg-12.col-lg-offset-3.col-md-12.col-xs-12 > div > p {
	color: rgb(23, 107, 107);
}

#zia {
	background-color: black;
}

#zia > div {
	margin-top: 50px;
	margin-bottom: 0px;
}

div#zia.jumbotron {
	height: 600px;
}

.img-circle {
	height: 150px;
	width: 150px;
}

div#clear {
	height: 50px;
}

#about {
	background-color: rgb(43, 129, 106);
}

img#bottle {
	height: 275px !important;
}

img#code {
	height: 275px !important;
	width: 280px !important;
}

.thumbnail {
	background-color: cadetblue;
}

#brewingcaption, #codingcaption, #horticaption {
	text-align: center;
	font-family: fantasy;
	font-weight: 600;
}

.item {
	min-width: 100%;
}

#contact {
	background-color: #303e49;
}

#projects {
	min-width: 100%;
	background-color: #333333;
}

#education {
	background-color: #07787C !important;
}

div.cd-timeline-content.bounce-in, div.cd-timeline-content {
	background-color: skyblue !important;
}

div.cd-timeline-content.bounce-in > h2, div.cd-timeline-content > h2 {
	text-align: center !important;
}

#resume {
	background-color: darkslategrey;
}

div#resumepanel.panel-body {
	background-color: cornsilk;
}

label.control-label {
	color: cadetblue;
}

/* Ignore the !important ;) */
#gallery > h2 {
	color: rgb(56, 134, 128) !important;
	text-align: center !important;
	font-family: "Droid Serif", serif;
	font-size: 40px !important;
}

#contact > div > div.container > h2 {
	text-align: center;
	color: cadetblue;
}

.first-slide, .second-slide, .third-slide {
	margin: 0 auto;
}

#screenshot-carousel > div {
	height: 500px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

	#screenshot-carousel > div {
		height: 250px !important;
	}

	div.cd-timeline-content.bounce-in, div.cd-timeline-content.bounce-in > h2, div.cd-timeline-content.bounce-in > p,
	div.cd-timeline-content, div.cd-timeline-content > h2, div.cd-timeline-content > p {
		height: 200px;
	}

}

@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2) {
	#screenshot-carousel > div {
		height: 250px !important;
	}


	div.cd-timeline-content.bounce-in, div.cd-timeline-content.bounce-in > h2, div.cd-timeline-content.bounce-in > p,
	div.cd-timeline-content, div.cd-timeline-content > h2, div.cd-timeline-content > p {
		height: 200px;
	}

}