/*Custom CSS file*/

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css);

body {
	padding-top: 50px;
}
.jumbotron {
	margin: auto;
}
.img-responsive {
	margin-left: auto;
	margin-right: auto;
}
#zia {
	background-color: black;
}

.img-circle {
	height: 200px;
	width: 120px;
}

#about {
	background-color: deepskyblue;
}

.item {
	min-width: 100%;
}

#contact {
	background-color: #303e49;
}

#projects {
	min-width: 100%;
	background-color: #333333;
}

#education {
	background-color: #75ce66;
}

#resume {
	background-color: darkslategrey;
}

label.control-label {
	color: cadetblue;
}

.first-slide, .second-slide, .third-slide {
	margin: 0 auto;
}